<!-- @format -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
     var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
     (function(){
     var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
     s1.async=true;
     s1.src='https://embed.tawk.to/647a156a74285f0ec46f36d7/1h1ue7aof';
     s1.charset='UTF-8';
     s1.setAttribute('crossorigin','*');
     s0.parentNode.insertBefore(s1,s0);
     })();
     </script>
     <!--End of Tawk.to Script-->
<div class="footer">
     <div class="copyright">
          <p>
               Developed by
               <a
                    href="index"
                    target="_blank"
                    > CODE 0
               </a>
          
               2023
          </p>
     </div>
</div>
